@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  background: url('/background.jpg') center / cover no-repeat fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
